html,
body {
    margin: 0;
    padding: 0;
}

html {
    background-image: url(../images/background.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}

body {
    height: 100%;
    width: 100%;
}

header {
    text-align: center;
}

button {
    font-family: 'Raleway', sans-serif;
    height: 25px;
    width: 80px;
    opacity: 0.8;
}

button:hover {
    opacity: 1;
}

button:active {
    height: 27px;
    width: 85px;
    font-size: 15px;
}

.h1-header , .h1-text{
    font-size: 40px;
    color: rgb(166, 163, 158);
    text-shadow: 3px 2px 0px rgb(0, 0, 0);
    text-align: center;
    font-family: 'Raleway', sans-serif;
}



main {
    padding: 2em;
    display: flex;
    width: 90%;
    min-width: 800px;
    height: inherit;
    margin: 0 auto;
    background-color: rgba(46, 46, 46, 0.473);
}

nav,
aside {
    width: 50%;
    font-family: 'Raleway', sans-serif;
}

nav {
    text-align: right;
}

aside {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.384);
}

.lyric-frame {
    overflow: hidden;
    border: 0px;
}

@media screen and (max-width: 800px) {
    main {
        display: inherit;
    }

    .left-side,
    .right-side {
        width: 80%;
        margin: auto;
        margin-top: 60px;
    }

    .left-side {
        margin-top: 150px;
    }

    button {
        position: absolute;
        top: 170px;
    }

    .fullscreen-background {
        background-size: unset;
        background-repeat: inherit;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    box-shadow: -3px 2.5px 0px 0.2px rgb(202, 0, 202);
    margin: 1vh;
    padding-right: 2%;
    background-color: rgb(255, 255, 65);
    background-size: cover;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    margin: 1%;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: rgb(166, 163, 158);
}