html {
    height: 100%;
    width: 100%;
}
button {
    font-family: 'Raleway', sans-serif;
    height: 25px;
    width: 80px;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
button:hover {
    opacity: 1;
}
button:active{
    height: 27px;
    width: 85px;
    font-size: 15px;
}
.fullscreen-background {
    background-image: url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.h1-header {
    font-size: 40px;
    color: rgb(166, 163, 158);
    text-shadow: 3px 2px 0px rgb(0, 0, 0);
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.theme-button {
    background-color: rgb(255, 195, 0);
    border: none;
    box-shadow: 2px 2px 2px 0px gray;
    margin: 5px;
    border-radius: 4px;
    padding: 6px 26px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    display: inline-block;
    font-size: 12px;
    opacity: 0.5;
}

.theme-button:hover {
    opacity: 1;
}

.theme-button:active {
    position: relative;
}

.split {
    display: flex;
}

.right-side,
.left-side {
    width: 42%;
    margin: 4%;
    font-family: 'Raleway', sans-serif;
}

.left-side {
    text-align: right;
}

.right-side {
    text-align: center;
    background-color: rgba(140, 140, 148, 0.85);
}

li {
    box-shadow: -3px 2.5px 0px 0.2px rgb(202, 0, 202);
    margin: 1vh;
    list-style: none;
    padding-right: 2%;
    background-color: rgb(255, 255, 65);
    background-size: cover;
}

.site-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin: 1%;
    font-family: 'Raleway', sans-serif;
    color: rgb(166, 163, 158);
}

.lyric {
    margin: inherit;
}